@media (min-width: 500px) {

   .wrapper {
      width: 920px;
      margin: 0 auto;
      grid-template: 2fr auto 1fr auto 3fr auto / 1fr;
   }

   .margin-bottom-first-input {
      margin-bottom: 45px;
   }
   .margin-bottom-third-input {
      margin-bottom: 0px;
   }

   .tip-calc {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      padding: 32px;
      &__parameters {
         padding: 16px;
      }

      &__precents {
         display: grid;
         grid-template: 1fr 1fr / 1fr 1fr 1fr;
         gap: 14px 16px;
         margin: 20px 0 45px 0;
      }

      &__output {
         padding: 40px;

         grid-template: 20px auto 60px auto 1fr auto / 1fr;
      }

      &__output-money {
         font-size: 48px;
      }
   }
}